.journal-Item {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.03);
  color: #fff;
  padding: 20px;
}

.journal-Item__header {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.journal-item__date {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.journal-item__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap; /* Запрещает перенос текста на новую строку */
  overflow: hidden; /* Скрывает избыточный контент */
  text-overflow: ellipsis; /* Добавляет три точки при обрезании текста */
  max-width: 370px; /* Ограничивает ширину элемента приблизительно 370пх */
}
.journal-item__body {
  display: flex;
  gap: 10px;
}
